<a href="https://colab.research.google.com/github/kai0024/kaisei/blob/master/udemy_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a = True; b = False;
print(a+b);

1

Trueは１、Falseは0として扱われる。

**○リスト**

複数の値をまとめて扱う場合に使用する。

リストへのアクセスはインデックスを使用する。

In [6]:
a = [1, 2, 3 ,4, 5] #リスト

b = a[2]
print(b)

a.append(6) #末尾に要素を追加する
print(a)

a[2] = 7
print(a)

3
[1, 2, 3, 4, 5, 6]
[1, 2, 7, 4, 5, 6]

**○タプル**

複数の要素をまとめて扱う際に使用するが、リストのように要素の追加・削除・入れ替えはできない。

要素変更をする予定のない場合は、リストよりもタプルを使用する。

In [8]:
a = (1, 2, 3, 4, 5) #タプルの作成

b = a[2]
print(b)

#リストやタプルの要素はまとめて変数化できる
a1, a2 ,a3 ,a4, a5= a #全てのインデックスについて設定しないとエラーになる
print(a1, a2, a3)

b=[6, 7, 8]
b1, b2, b3 = b
print(b)

3
1 2 3
(6, 7, 8)

**○辞書**

辞書は、キーと値の組み合わせでデータを格納する。

文字列をキーとして辞書を作成し、値の取得や入れ替え、要素の追加を行う。

In [9]:
a = {"Apple":1, "Google":2} #辞書の作成
print(a["Apple"]) #"Apple"のキーを持つ値を取得

a["Google"] = 7 #要素の入れ替え
print(a["Google"])

a["ML"] = 3 #要素の追加
print(a)

1
7
{'Apple': 1, 'Google': 7, 'ML': 3}

**○セット**

リストと似ているが、重複した値の要素を持つことができない。
要素の追加や削除は可能。

In [10]:
a = [1, 1, 2, 3, 4, 5, 5, 6, 7]
print(a)

b = set(a) #セットに変換
print(b)

b.add(6)
print(b)

b.remove(3)
print(b)

[1, 1, 2, 3, 4, 5, 5, 6, 7]
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}

**○if文**

ブロックの範囲を行頭のインデント(Tab:半角空欄4つ)で表される。

In [12]:
a = 7
if a < 12:
    print("Good morning")
elif a< 17:
    print("Good afternoon")
elif a < 21:
    print("Good evening")
else:
    print("Good night")

Good morning

**○for文**

ループ範囲を指定するためには、リストやrangeをin演算子とともに使う

range([開始番号,]終了番号[,ステップ番号]) []は省略可能

In [15]:
for a in [4, 7, 10]:
    print(a)#リスト内を全て表示

for a in range(3):
    print(a)#2までを全て表示

4
7
10
0
1
2

**○while**

In [16]:
a = 0
while a < 3: #aが３より小さい間ループ
    print(a)
    a += 1

0
1
2

**○内包表記**

リストの要素を操作して上で、新しいリストを作成するための記法。

新たなリスト = [要素への処理 for 要素 in リスト]

In [17]:
a = [1, 2, 3, 4, 5, 6, 7]
b = [c*3+1 for c in a] #内包表記：aの要素を3倍して1を足し新たなリストを作る　aの各要素をcに入れ、それをbに入れる
print(b)

[4, 7, 10, 13, 16, 19, 22]